<div class="container">
    <div fxLayout="row">
        <div class="fill-remaining-space"></div>
        <h2 class="text-center" class="add-item" fxLayoutAlign="center">Edit Module</h2>
        <div class="fill-remaining-space"></div>
        <div fxLayoutAlign="end center">
            <button class="close" mat-dialog-close>
                <i class="fa fa-remove" matTooltip="Close"></i>
            </button>
        </div>
    </div>
    <form #editModuleForm="ngForm" (ngSubmit)="updateModule(editModuleForm)" ngNativeValidate>
        <div class="form-group">
            <mat-form-field>
                <input matInput required [(ngModel)]="module.moduleName" name="name" id="name" #firstName="ngModel" placeholder="Name">
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field>
                <textarea matInput [(ngModel)]="module.description" name="description" id="description" placeholder="Description">
                </textarea>
            </mat-form-field>
        </div>
        <div class="form-group" [formGroup]="userNameForm">
            <mat-form-field>
                <input matInput placeholder="Owner" formControlName="userNameGroup" [matAutocomplete]="autoGroup">
                <mat-autocomplete #autoGroup="matAutocomplete" [displayWith]="displayFn" (optionSelected)='setOwner($event.option.value)'>
                    <mat-optgroup *ngFor="let group of userNameGroupOptions | async" [label]="group.letter">
                        <mat-option *ngFor="let user of group.assignees" [value]="user">
                            {{user.firstName}} {{user.lastName}}
                        </mat-option>
                    </mat-optgroup>
                </mat-autocomplete>
            </mat-form-field>
        </div>
        <div class="text-center mb-4">
            <button mat-raised-button [disabled]="!editModuleForm.valid">
                <i class="fa fa-save"></i>
                Save
            </button>
        </div>
    </form>
</div>