/* You can add global styles to this file, and also import other style files */
@import "~material-design-icons/iconfont/material-icons.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
    background-color: rgb(250,255,255);
}

.error-category{
    cursor: pointer;
    color: purple;
}
.error-category:hover{
    outline: none !important;
    box-shadow: 0 0 10px blue;
    /*background-color: mediumturquoise!important;*/
    background: linear-gradient(mediumturquoise, palegreen, mediumseagreen)!important;
    z-index: 10;
}
.fill-remaining-space {
    flex: 1 1 auto;
}
.mat-toolbar {
    background: linear-gradient(to right, blue, royalblue, steelblue, lightskyblue, steelblue, royalblue, blue); 
    color: white;
}
.search-input{
    font-size: 24px!important;
    font-weight: bold!important;
    color: purple!important;
}

/* Table Styles */
.list-title{
    color: purple;
}
.table-container {
    display: flex;
    flex-direction: column;
}
.mat-header-cell{
    font-weight: bold;
    text-align: center;
    color: darkblue;
}
.highlight-row{
    background: linear-gradient(azure, powderblue);
}
.inactive-user {
    color: gray;
}
/* Border with text on it, like fieldset */
div.border-text{
    border: 1px dotted;
    border-color: lightgrey;
    padding: 0px 10px 2px 10px;
}
div.border-text h1{
    text-align: center;
    margin-top: -10px;
    height: 12px;
    line-height: 16px;
    font-size: 10px;
    color: cornflowerblue;
}
div.border-text h1 span{
    background-color: inherit;
}
label[for="file-input"]{
    margin-bottom: 0px;
}

/* Form Styles */
mat-form-field {
    width: 100%;
}
.mat-form-field {
    width: 100%;
}
.add-item,.edit-item{
    color: purple;
    text-align: center;
}
.add-cause{
    background: linear-gradient(to right, lightskyblue, powderblue, lightskyblue);
}
.add-item-field{
    background-color: azure;
    color: darkblue;
}

/* Print */
@media print {
    body * {
      visibility: hidden;
    }
    div.printable, div.printable * {
      visibility: visible;
    }
    div.printable {
      position: absolute;
      left: 0;
      top: 0;
    }
  }

/* Icons */
.home-icon{
    color: yellow;
}
.fa-pencil{
    color: midnightblue;
}
.fa-bars{
    color: goldenrod;
}
.add-element{
    color: forestgreen;
}
.fa-trash, .fa-trash-o{
    color: maroon;
}
.fa-rss{
    color: coral;
}
.fa-rss-square{
    color: cornflowerblue;
}
.fa-upload{
    color: darkblue;
}
.fa-file-pdf-o{
    color: red;
}
.fa-file-excel-o{
    color: mediumseagreen;
}
.fa-print{
    color: darkslategray;
}
.fa-check{
    color: darkgreen;
}
.fa-times{
    color: crimson;
}
.fa-group{
    color: blueviolet;
}

/* Comment */
.commented{
    font-size: 12px;
    display: inline-block;
}
.commented-by{
    font-weight: bold;
    color: royalblue;
}
.commented-on{
    font-style: oblique;
    color: slateblue;
}
.edited-on{
    font-size: 10px;
    font-style: italic;
    color: steelblue;
}
.comment-action{
    min-width: 90px!important;
    margin-right: 28px;
}
.comment-action-button{
    height: 24px!important;
    line-height: 24px!important;
    padding: 0 0 0 8px!important;
}
.comment-action-icon{
    margin-right: 2px!important;
}
.comment-action-label{
    font-size: 14px;
}
.comment-action-edit-icon{
    margin-right: 2px!important;
    color: royalblue!important;
}
.comment-action-delete-icon{
    margin-right: 2px!important;
    color: maroon!important;
}

/* Error Detail */
.error-detail{
    background: radial-gradient(rgb(225,255,255), rgb(250,255,255));
}
.error-description{
    color: purple;
}
/* Cause Panel */
.cause-panel-header{
    height: 40px!important;
}
.cause-panel-action{
    padding: 6px 24px 6px 24px!important;
    background: linear-gradient(to right, cadetblue, powderblue);
}
/* Cause Detail */
.cause-detail{
    background-color: azure;
}
