/* You can add global styles to this file, and also import other style files */
@import "~material-design-icons/iconfont/material-icons.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

mat-form-field {
    width: 100%;
}

.fill-remaining-space {
    flex: 1 1 auto;
}

.inactive-user {
    color: gray;
}

/* Add button on right side of table filter */
.table-container {
    display: flex;
    flex-direction: column;
}
.mat-form-field {
    width: 100%;
}

/* Highlight a clicked row */
.highlight-row{
    background: lightyellow;
}

/* Border with text on it, like fieldset*/
div.border-text{
    border: 1px dotted;
    border-color: lightgrey;
    padding: 0px 10px 2px 10px;
}
div.border-text h1{
    text-align: center;
    margin-top: -10px;
    height: 12px;
    line-height: 16px;
    font-size: 10px;
    color:lightgrey;
}
div.border-text h1 span{
    background-color: white;
}
label[for="file-input"]{
    margin-bottom: 0px;
}

/* Print*/
@media print {
    body * {
      visibility: hidden;
    }
    div.printable, div.printable * {
      visibility: visible;
    }
    div.printable {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
