# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

**/server/.gradle/
**/server/.settings/
**/server/bin/
**/server/build/
**/server/gradle/
server/src/main/resources/application.properties

**/client/.gradle/
**/client/e2e/
**/client/node_modules/
**/client/src/environments/

*.classpath
*.bat

#client config files
/client/.angular-cli.json
/client/.editorconfig
/client/angular.json
/client/README.md
/client/karma.conf.js
/client/package-lock.json
/client/package.json
/client/protractor.conf.js
/client/tsconfig.json
/client/tslint.json
/client/src/favicon.ico
/client/src/polyfills.ts
/client/src/test.ts
/client/src/tsconfig.app.json
/client/src/tsconfig.spec.json
/client/src/typings.d.ts
/client/src/karma.conf.js
/client/src/tslint.json
/client/src/browserslist
/client/src/assets/.gitkeep
