<div class="col-md-offset-1">
    <mat-toolbar>
        <mat-toolbar-row fxLayoutGap="5px">
            <div matTooltip="{{currentUser}}">
                <img class="user-picture">
            </div>
            <div></div>
            <div>
                <input class="global-search" type="text" placeholder="Search Error" [(ngModel)]="input" />
                <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="findErrors()" matTooltip="Search">
                    <mat-icon>search</mat-icon>
                </button>
            </div>
            <span class="fill-remaining-space"></span>
            <div class="d-none d-sm-block">
                <small>{{currentUser}}</small>
            </div>
            <div *ngIf="authService.isAuthenticated()">
                <button mat-button mat-icon-button matTooltip="Home" routerLink="/homepage">
                    <mat-icon class="home-icon">home</mat-icon>
                </button>
            </div>
            <div *ngIf="authService.isAuthenticated()">
                <button mat-button mat-icon-button mat-raised-button [matMenuTriggerFor]="menu" matTooltip="My Rolaguru">
                    <div class="image-container">
                        <img src="../assets/images/rolaguru_32.png" />
                    </div>
                </button>
                <mat-menu #menu="matMenu" overlapTrigger="false">
                    <button mat-menu-item [routerLink]="['/findUser', currentUserId]">My Profile</button>
                    <button mat-menu-item [routerLink]="['/subscribedErrors']">My Subscribed Errors</button>
                    <button mat-menu-item [matMenuTriggerFor]="admin">Admin Tasks</button>
                    <button mat-menu-item [matMenuTriggerFor]="reports">Reports</button>
                </mat-menu>
                <mat-menu #admin="matMenu">
                    <button mat-menu-item [routerLink]="['/listUsers']">User Management</button>
                </mat-menu>
                <mat-menu #reports="matMenu">
                    <button mat-menu-item [routerLink]="['/searchReportMonthwise']">Search Report (Monthwise)</button>
                    <button mat-menu-item [routerLink]="['/searchReportInputwise']">Search Report (Inputwise)</button>
                    <button mat-menu-item [routerLink]="['/rcaReport']">RCA Report</button>
                </mat-menu>
            </div>
            <div>
                <button mat-button mat-icon-button mat-raised-button (click)="logout()" matTooltip="Logout">
                    <mat-icon color="warn">exit_to_app</mat-icon>
                </button>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</div>
<br/>