<div class="container">
    <h2 class="text-center" class="add-item">Add {{errorDomainName}} Error</h2>
    <form #errorForm="ngForm" (ngSubmit)="createError(errorForm)" ngNativeValidate>

        <div class="form-group">
            <mat-form-field>
                <input matInput [(ngModel)]="error.module" name="module" id="module" placeholder="Module">
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field>
                <input matInput required [(ngModel)]="error.errcode" name="errcode" id="errcode" #errcode="ngModel" placeholder="Error Code">
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field>
                <input matInput [(ngModel)]="error.description" name="description" id="description" placeholder="Description">
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field>
                <input matInput [(ngModel)]="error.operation" name="operation" id="operation" placeholder="Operation">
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field>
                <input matInput [(ngModel)]="error.severity" name="severity" id="severity" placeholder="Severity">
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field>
                <input matInput [(ngModel)]="error.frequency" name="frequency" id="frequency" placeholder="Frequency">
            </mat-form-field>
        </div>

        <div class="text-center">
            <button mat-raised-button color="primary" [disabled]="!errorForm.valid">
                Submit
            </button>
        </div>
    </form>
</div>