<div class="container">
    <h2 class="text-center" class="edit-item">Edit Error</h2>
    <form #editErrorForm="ngForm" (ngSubmit)="updateError(editErrorForm)" ngNativeValidate>

        <div class="form-group">
            <mat-form-field>
                <input required matInput [(ngModel)]="error.module" name="module" id="module" placeholder="Module">
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field>
                <input matInput disabled [(ngModel)]="error.errcode" name="errcode" id="errCode" #errCode="ngModel" placeholder="Error Code">
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field>
                <input matInput required [(ngModel)]="error.description" name="description" id="description" placeholder="Description">
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field>
                <input matInput required [(ngModel)]="error.operation" name="operation" id="operation" placeholder="Operation">
            </mat-form-field>
        </div>

        <div class="form-group" fxLayoutGap="10px">
            <label>Severity: </label>
            <mat-radio-group [(ngModel)]="error.severity" name="severity" id="severity" fxLayoutGap="25px">
                <mat-radio-button color="primary" [value]="1">1</mat-radio-button>
                <mat-radio-button color="primary" [value]="2">2</mat-radio-button>
                <mat-radio-button color="primary" [value]="3">3</mat-radio-button>
                <mat-radio-button color="primary" [value]="4">4</mat-radio-button>
                <mat-radio-button color="primary" [value]="5">5</mat-radio-button>
            </mat-radio-group>
        </div>

        <div class="text-center mb-4">
            <button mat-raised-button [disabled]="!editErrorForm.valid">
                <i class="fa fa-save"></i>
                Save
            </button>
        </div>
    </form>
</div>