<div class="container">
    <h2 class="text-center">Edit Error</h2>
    <form #editErrorForm="ngForm" (ngSubmit)="updateError(editErrorForm)" ngNativeValidate>

        <div class="form-group">
            <mat-form-field>
                <input matInput required [(ngModel)]="error.errcode" name="errcode" id="errCode" #errCode="ngModel" placeholder="Error Code">
            </mat-form-field>
        </div>

        <div class="form-group">
            <div fxLayoutAlign="center">
                <h6>Description</h6>
            </div>
            <div class="editor block">
                <app-ngx-editor minHeight="50px" [(ngModel)]="error.message" name="message" #message="ngModel"></app-ngx-editor>
            </div>
        </div>

        <div class="form-group">
            <mat-form-field>
                <input matInput [(ngModel)]="error.errortype" name="errortype" id="errortype" placeholder="Error Type">
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field>
                <input matInput [(ngModel)]="error.batchtype" name="batchtype" id="batchtype" placeholder="Batch Type">
            </mat-form-field>
        </div>

        <div class="text-center mb-4">
            <button mat-raised-button [disabled]="!editErrorForm.valid">
                <i class="fa fa-save"></i>
                Save
            </button>
        </div>
    </form>
</div>