<div class="container">
    <h2 class="text-center" class="edit-item">Edit Error</h2>
    <form #editErrorForm="ngForm" (ngSubmit)="updateError(editErrorForm)" ngNativeValidate>

        <div class="form-group">
            <mat-form-field>
                <input matInput [(ngModel)]="error.module" name="module" id="module" placeholder="Module">
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field>
                <input matInput required [(ngModel)]="error.errcode" name="errcode" id="errCode" #errCode="ngModel" placeholder="Error Code">
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field>
                <input matInput [(ngModel)]="error.description" name="message" id="message" placeholder="Message">
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field>
                <input matInput [(ngModel)]="error.operation" name="operation" id="operation" placeholder="Operation">
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field>
                <input matInput [(ngModel)]="error.severity" name="severity" id="severity" placeholder="Severity">
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field>
                <input matInput [(ngModel)]="error.frequency" name="frequency" id="frequency" placeholder="Frequency">
            </mat-form-field>
        </div>

        <div class="text-center mb-4">
            <button mat-raised-button [disabled]="!editErrorForm.valid">
                <i class="fa fa-save"></i>
                Save
            </button>
        </div>
    </form>
</div>