<router-outlet></router-outlet>

<div class="container col-md-6 my-5">
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <tr *ngFor="let key of objectKeys(items)">
                <td>{{ key }}</td>
                <td>{{ items[key] }}</td>
            </tr>
            <tr>
                <td colspan="2" class="text-center">
                    Add Cause for this error.
                    <button class="btn" (click)="addCause(errid, errcode)">
                        <i class="fa fa-plus fa-fw"></i>
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>
<mat-divider></mat-divider>
<div *ngIf="causes && causes.length>0">
    <div class="container col-md-6 my-5">
        <h3 class="text-center">Cause & Solutions</h3>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>Description</th>
                        <th>Solution</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cause of causes; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ cause.description }}</td>
                        <td>{{ cause.solution }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
