<global-toolbar></global-toolbar>
<router-outlet></router-outlet>
   
<div class="container col-md-6 my-5">
    <div fxLayout="row" fxLayout.xs="column">
        <div>
            <mat-form-field>
                <input matInput type="text" [(ngModel)]="error.errcode"/>
                <button mat-button matSuffix mat-icon-button aria-label="Clear"
                        matTooltip="Search Error" matTooltipPosition="left" (click)="findErrorByCode()">
                    <mat-icon>search</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <span class="fill-remaining-space"></span>
        <div fxLayoutAlign="center center">
            {{ error.message }}
        </div>
        <span class="fill-remaining-space"></span>
        <div>
            <button class="btn" (click)="errorService.addCause(error, dialog)" matTooltip="Add Solution">
                <i class="fa fa-plus fa-fw"></i>
            </button>
        </div>
    </div>
    <div fxLayout="row" fxLayout.xs="column">
        <div>
            <h6 fxLayout="row">{{ error.causes.length }} solutions found</h6>
        </div>
    </div>
</div>

<list-causes [error]="error"></list-causes>
