<div class="container col-md-3">
    <h2 class="text-center">Find Error</h2>
    <form (ngSubmit)="findErrorByCode()">
		<div class="form-group">
			<div class="input-group">
				<input type="text" placeholder="Search Error Code" name="errCode"
					class="form-control" id="errcode" required [(ngModel)]="error.errcode">
				<span class="input-group-append">
					<button type="submit" class="btn btn-outline-secondary">
						<i class="fa fa-search"></i>
					</button>
				</span>
			</div>
		</div>
	</form>
</div>

<router-outlet></router-outlet>
