<router-outlet>
</router-outlet>
<global-toolbar></global-toolbar>

<div class="container col-lg-10">
    <div>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="4px">
            <div class="border-text" fxLayoutGap="15px">
                <h1>
                    <span data-toggle="tooltip" matTooltip="Please select row(s) to perform these actions" matTooltipPosition="right">
                        Error Actions
                    </span>
                </h1>
                <button class="btn" matTooltip="Subscribe Errors" (click)="subscribeErrors()">
                    <i class="fa fa-rss"></i>
                </button>
                <button class="btn" matTooltip="Un-subscribe Errors" (click)="unSubscribeErrors()">
                    <i class="fa fa-rss-square"></i>
                </button>
                <button class="btn" matTooltip="Delete Errors" (click)="onDeleteSelectedErrors()">
                    <i class="fa fa-trash"></i>
                </button>
            </div>
            <span class="fill-remaining-space"></span>
            <h3 fxLayoutAlign="center" class="list-title">{{errorDomainName}} Errors</h3>
            <span class="fill-remaining-space"></span>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="4px">
                <div class="border-text" fxLayoutGap="15px">
                    <h1>
                        <span>Table Actions</span>
                    </h1>
                    <button class="btn" matTooltip="Import Errors">
                        <label for="file-input" class="file-input">
                            <i class="fa fa-upload"></i>
                        </label>
                        <input id="file-input" type="file" (change)="importErrors($event)" hidden>
                    </button>
                    <button class="btn" matTooltip="Export as PDF" (click)="exportErrorsInPDF()">
                        <i class="fa fa-file-pdf-o"></i>
                    </button>
                    <button class="btn" matTooltip="Export as Excel" (click)="exportErrorsInExcel()">
                        <i class="fa fa-file-excel-o"></i>
                    </button>
                    <button class="btn" matTooltip="Print" (click)="printErrors()">
                        <i class="fa fa-print"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div fxLayoutGap="10px" fxLayoutAlign="start center">
        <button class="btn add-element" (click)="addError()">
            <mat-icon matTooltip="Add Error" matTooltipPosition="left">library_add</mat-icon>
        </button>
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
        <button class="btn" matTooltip="Table Configurator" matTooltipPosition="left" (click)="openTableConfigurator()">
            <i class="fa fa-bars"></i>
        </button>
    </div>
    <div class="table-container mat-elevation-z8 printable">
        <mat-table #table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="Checkbox">
                <mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="toggleSelection($event)" fxLayoutAlign="start">
                    </mat-checkbox>
                </mat-header-cell>
                <mat-cell *matCellDef="let error">
                    <mat-checkbox [(ngModel)]="error.checked" color="primary"></mat-checkbox>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Error Code">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Error Code </mat-header-cell>
                <mat-cell *matCellDef="let error">
                    <a [routerLink]="['../findError', error.errid]"> {{error.errcode}} </a>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Description">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
                <mat-cell *matCellDef="let error" [innerHTML]="error.description"></mat-cell>
            </ng-container>

            <ng-container matColumnDef="Module">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Error Module </mat-header-cell>
                <mat-cell *matCellDef="let error"> {{error.module}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Operation">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Operation </mat-header-cell>
                <mat-cell *matCellDef="let error"> {{error.operation}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Severity">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Severity </mat-header-cell>
                <mat-cell *matCellDef="let error"> {{error.severity}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Frequency">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Frequency </mat-header-cell>
                <mat-cell *matCellDef="let error"> {{error.frequency}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Attachments">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Attachments </mat-header-cell>
                <mat-cell *matCellDef="let error">
                    <div *ngFor="let file of error.files" fxLayout="row" fxLayoutGap="5px">
                        <div>
                            <a href="#" (click)="!!download(file)" oncontextmenu="return false"> {{ file.filename }} </a>
                        </div>
                    </div>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Domain">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Error Domain </mat-header-cell>
                <mat-cell *matCellDef="let error"> {{error.domain}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Actions">
                <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                <mat-cell *matCellDef="let error">
                    <button class="btn" matTooltip="Edit Error" (click)="editError(error)">
                        <i class="fa fa-pencil fa-fw"></i>
                    </button>
                    <button class="btn" matTooltip="Delete Error" (click)="onDeleteError(error)">
                        <i class="fa fa fa-trash-o fa-fw"></i>
                    </button>
                    <button class="btn" matTooltip="Un-subscribe" (click)="unSubscribeError(error)" *ngIf="subscribedErrorIds && subscribedErrorIds.indexOf(''+error.errid) > -1">
                        <i class="fa fa-rss-square"></i>
                    </button>
                    <button class="btn" matTooltip="Subscribe" (click)="subscribeError(error)" *ngIf="subscribedErrorIds == null || subscribedErrorIds.indexOf(''+error.errid) == -1">
                        <i class="fa fa-rss"></i>
                    </button>
                    <!--
                    <button class="btn" matTooltip="Add Cause" (click)="errorService.addCause(error, dialog)">
                        <i class="fa fa-plus fa-fw"></i>
                    </button> 
                    -->
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'highlight-row': row.checked}">
            </mat-row>
        </mat-table>

        <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
    </div>
</div>