
<router-outlet></router-outlet>
<global-toolbar></global-toolbar>

<div class="container col-lg-10">
  <div>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      <span class="input-group-append">
        <button class="btn" (click)="addUser()">
            <i class="fa fa-plus fa-fw" title="Ädd Error"></i>
        </button>
      </span>
    </mat-form-field>
  </div>
  <div class="mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Id. </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{error.id}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="errcode">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Error Code </mat-header-cell>
        <mat-cell *matCellDef="let error">
          <a [routerLink]="['../findError', error.errid]"> {{error.errcode}} </a>
        </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="message">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Message </mat-header-cell>
        <mat-cell *matCellDef="let error"> {{error.message}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="errortype">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Error Type </mat-header-cell>
        <mat-cell *matCellDef="let error"> {{error.errortype}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="batchtype">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Batch Type </mat-header-cell>
        <mat-cell *matCellDef="let error"> {{error.batchtype}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
        <mat-cell *matCellDef="let error">
          <button class="btn" (click)="editError(error)">
            <i class="fa fa-pencil fa-fw" title="Edit Error"></i>
          </button>
          <button class="btn" (click)="deleteError(error)">
            <i class="fa fa fa-trash-o fa-fw" title="Delete Error"></i>
          </button>
          <button class="btn" (click)="addCause(error.errid, error.errcode)">
              <i class="fa fa-plus fa-fw" title="Add Cause"></i>
          </button>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
  </div>
</div>