<router-outlet>
</router-outlet>
<global-toolbar></global-toolbar>

<div class="container col-lg-10">
    <h3 fxLayoutAlign="center" class="list-title">My Subscribed Errors</h3>
    <div fxLayoutGap="10px" fxLayoutAlign="start center">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
    </div>
    <div class="table-container mat-elevation-z8 printable">
        <mat-table #table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="Error Code">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Error Code </mat-header-cell>
                <mat-cell *matCellDef="let errid">
                    <a [routerLink]="['/findError', errid]"> {{errid}} </a>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
        </mat-table>

        <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
    </div>
</div>