<div class="container">
    <h4 fxLayoutAlign="center" class="add-item add-solution">Add Solution for {{ errcode }}</h4>
    <form #causeForm="ngForm" (ngSubmit)="createCause(causeForm)" ngNativeValidate>
        <div class="form-group">
            <div class="add-item-field">
                <h5>Solution Description</h5>
            </div>
            <div class="editor block">
                <app-ngx-editor minHeight="50px" [(ngModel)]="htmlDescription" name="description"></app-ngx-editor>
            </div>
        </div>
        <div class="form-group">
            <div class="add-item-field">
                <h5>Scenerio</h5>
            </div>
            <div class="editor block">
                <app-ngx-editor minHeight="50px" [(ngModel)]="htmlBankingScenerio" name="bankingScenerio"></app-ngx-editor>
            </div>
        </div>
        <div class="form-group" fxLayoutGap="10px">
            <div class="add-item-field">
                <h5>Root Cause</h5>
            </div>
            <div>
                <mat-checkbox [(ngModel)]="displayCodeRootCause" name="codeRootCause" color="primary">
                    <div class="root-cause-name">Code</div>
                </mat-checkbox>
                <div class="editor block" [hidden]="!displayCodeRootCause">
                    <app-ngx-editor minHeight="50px" [(ngModel)]="htmlCodeRootCause" name="codeRootCause"></app-ngx-editor>
                </div>
            </div>
            <div>
                <mat-checkbox [(ngModel)]="displayDataRootCause" name="dataRootCause" color="primary">
                    <div class="root-cause-name">Data</div>
                </mat-checkbox>
                <div class="editor block" [hidden]="!displayDataRootCause">
                    <app-ngx-editor minHeight="50px" [(ngModel)]="htmlDataRootCause" name="dataRootCause"></app-ngx-editor>
                </div>
            </div>
            <div>
                <mat-checkbox [(ngModel)]="displayOperationRootCause" name="operationRootCause" color="primary">
                    <div class="root-cause-name">Opeartion</div>
                </mat-checkbox>
                <div class="editor block" [hidden]="!displayOperationRootCause">
                    <app-ngx-editor minHeight="50px" [(ngModel)]="htmlOperationRootCause" name="operationRootCause"></app-ngx-editor>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button mat-raised-button color="primary" 
                    [disabled]="!causeForm.valid || htmlDescription=='' || htmlBankingScenerio=='' || 
                    (htmlCodeRootCause=='' && htmlDataRootCause=='' && htmlOperationRootCause=='')">
                Submit
            </button>
        </div>
    </form>
</div>