<mat-expansion-panel [expanded]="j == 0">
    <mat-expansion-panel-header class="cause-panel-header">
        <mat-panel-title class="solution-title">
            <div fxLayout="row" fxLayout.xs="column">
                <span>Provided on {{cause.createdTimestamp | date: 'dd-MMM-yyyy'}}</span> &nbsp;
                <div> by
                    <a [routerLink]="['/findUser', cause.user.userid]"> {{cause.user.firstName}} </a>
                </div>
            </div>
        </mat-panel-title>
        <mat-panel-description>
            <div class="fill-remaining-space"></div>
            <div fxLayoutAlign="end" fxLayoutGap="5px">
                <div matTooltip="{{overallRatingTooltip}}" matTooltipPosition="before">
                    <a *ngFor="let star of overallRatingStar.split(''); let i=index">
                        <i class="fa" [ngClass]="{'fa-star':(star==2),'fa-star-half-o':(star==1),'fa-star-o':(star==0)}"></i>
                    </a>
                </div>
            </div>
        </mat-panel-description>
    </mat-expansion-panel-header>
    <div fxLayout="column" fxLayoutGap="8px">
        <div fxLayout="column">
            <div fxLayout="row" class="cause-detail">
                <div fxLayoutAlign="start">
                    <strong>Solution Description</strong>
                </div>
            </div>
            <div>
                <div [innerHTML]="cause.description" [hidden]="editing"></div>
                <div class="editor block" [hidden]="!editing">
                    <app-ngx-editor minHeight="50px" [(ngModel)]="editDescription"></app-ngx-editor>
                </div>
            </div>
        </div>
        <div fxLayout="column">
            <div fxLayoutAlign="start" class="cause-detail">
                <strong>Banking Scenerio</strong>
            </div>
            <div>
                <div [innerHTML]="cause.bankingScenerio" [hidden]="editing"></div>
                <div class="editor block" [hidden]="!editing">
                    <app-ngx-editor minHeight="50px" [(ngModel)]="editBankingScenerio"></app-ngx-editor>
                </div>
            </div>
        </div>
        <div fxLayout="column">
            <div fxLayoutAlign="start" class="cause-detail">
                <strong>Root Cause</strong>
            </div>
            <div>
                <div [hidden]="editing">{{rootCauses[cause.rootCause - 1]}}</div>
                <div [hidden]="!editing">
                    <mat-radio-group [(ngModel)]="cause.rootCause" name="root-cause-{{cause.causeid}}" id="root-cause-{{cause.causeid}}" fxLayoutGap="25px">
                        <mat-radio-button color="primary" [value]="1">{{rootCauses[0]}}</mat-radio-button>
                        <mat-radio-button color="primary" [value]="2">{{rootCauses[1]}}</mat-radio-button>
                        <mat-radio-button color="primary" [value]="3">{{rootCauses[2]}}</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
        </div>
        <div fxLayout="column" fxLayoutGap="10px">
            <div fxLayoutAlign="start" class="cause-detail">
                <strong>Attachments</strong>
            </div>
            <div fxLayout="column" fxLayoutGap="5px">
                <div *ngFor="let file of cause.files" fxLayout="row" fxLayoutGap="5px">
                    <!--
                    <div>
                        <iframe id="file-{{file.causeDocId}}" class="cause-document-preview"></iframe>
                    </div>
                    -->
                    <div>
                        <a href="#" (click)="!!download(file)" oncontextmenu="return false">{{ file.filename }}</a>
                    </div>
                    <div>
                        <small>({{ rolaguruUtils.formatBytes(file.size) }})</small>
                    </div>
                    <div [hidden]="!editing" *ngIf="cause.user.userid == userid">
                        <i class="fa fa-remove" matTooltip="Delete" (click)="delete(file)" style="color:red" matTooltipPosition="after"></i>
                    </div>
                </div>
            </div>
            <div *ngIf="currentFileUpload" class="progress">
                <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
                    aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
                    {{ progress.percentage }}%
                </div>
            </div>
        </div>
        <div class="solution-last-modified-on" *ngIf="cause.modifiedTimestamp" fxLayoutAlign="end">
            <span>Last modified on {{cause.modifiedTimestamp | date: 'dd-MMM-yyyy'}}</span>
        </div>
    </div>
    <mat-action-row fxlayout="row" fxLayoutGap="10px" class="cause-panel-action">
        <div matTooltip="{{myRatingTooltip}}" matTooltipPosition="left" *ngIf="cause.user.userid != userid">
            <a *ngFor="let star of ('1'.repeat(myRating.rating)+'0'.repeat(5-myRating.rating)).split(''); let i=index" (click)="rate(i, myRating, cause)">
                <i class="fa" [ngClass]="{'fa-star':(star==1),'fa-star-o':(star==0)}"></i>
            </a>
        </div>
        <button class="btn" matTooltip="Upload File" fxLayoutAlign="end" *ngIf="cause.user.userid == userid">
            <label for="file-input-cause" class="file-input">
                <i class="fa fa-upload"></i>
            </label>
            <input id="file-input-cause" type="file" (change)="selectFileForCause($event)" hidden>
        </button>
        <button class="btn" matTooltip="Edit Solution" (click)="openInEdit(cause.solution)" [hidden]="editing" *ngIf="cause.user.userid == userid">
            <i class="fa fa-pencil"></i>
        </button>
        <button class="btn" (click)="saveCause()" matTooltip="Save" fxLayoutAlign="end" [hidden]="!editing" *ngIf="cause.user.userid == userid">
            <i class="fa fa-floppy-o"></i>
        </button>
        <button class="btn" (click)="deleteCause()" matTooltip="Delete Solution" *ngIf="cause.user.userid == userid">
            <i class="fa fa-trash"></i>
        </button>
    </mat-action-row>
</mat-expansion-panel>