<div class="col-md-10 container">
    <h2 class="text-center" class="add-item">Add Role</h2>
    <form #roleForm="ngForm" (ngSubmit)="createRole(roleForm)" ngNativeValidate>
        <div class="form-group">
            <mat-form-field>
                <input matInput required [(ngModel)]="role.roleName" name="name" id="name" #name="ngModel" placeholder="Name">
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field>
                <input matInput required [(ngModel)]="role.description" name="description" id="description" #firstName="ngModel" placeholder="Description">
            </mat-form-field>
        </div>
        <div class="text-center">
            <button mat-raised-button color="primary" [disabled]="!roleForm.valid">
                Submit
            </button>
        </div>
    </form>
</div>