<div class="container col-lg-12">
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
        <div style="width:78%">
            <mat-grid-list cols="3" rowHeight="4:3" gutterSize="25">
                <mat-grid-tile *ngFor="let domain of domains" (click)="navigate(domain)" class="error-domain">
                    <div style="text-align: center">
                        <h3>{{ domain.domainName }}</h3>
                        <div class="d-none d-sm-block">
                            <div fxLayoutAlign="center" id="error-count-{{domain.domainId}}"></div>
                        </div>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div style="width:20%">
            <mat-grid-list cols="1" rowHeight="1:1" gutterSize="25">
                <mat-grid-tile class="homepage-info-1">
                    <div fxLayout="column">
                        <div style="text-align: center" class="homepage-info-title-1">
                            <h4>Latest Created Errors</h4>
                        </div>
                        <div style="text-align: center" class="homepage-info-text-1">
                            <div *ngFor="let error of latestCreatedErrors">
                                <p>
                                    <a [routerLink]="['../findError', error.errid]">{{error.errcode}}</a>
                                     is added {{error.createdTimestamp | amTimeAgo}}
                                </p>
                            </div>
                        </div>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile class="homepage-info-2">
                    <div fxLayout="column">
                        <div style="text-align: center" class="homepage-info-title-2">
                            <h4>Latest Modified Errors</h4>
                        </div>
                        <div style="text-align: center" class="homepage-info-text-2">
                            <div *ngFor="let error of latestModifiedErrors">
                                <p>
                                    <a [routerLink]="['../findError', error.errid]">{{error.errcode}}</a>
                                     is modified {{error.modifiedTimestamp | amTimeAgo}}
                                </p>
                            </div>
                        </div>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>
</div>