<div class="container col-md-3 my-4">
    <mat-card class="text-center">
        <mat-card-header>
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form>
                <mat-form-field>
                    <input type="text" matInput placeholder="Username" [(ngModel)]="username" name="username" required>
                    <button mat-button matSuffix mat-icon-button aria-label="Clear" tabindex="-1">
                        <mat-icon>person</mat-icon>
                    </button>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
                    <button mat-button matSuffix mat-icon-button aria-label="Clear" tabindex="-1">
                        <mat-icon>remove_red_eye</mat-icon>
                    </button>
                </mat-form-field>
            </form>
            <mat-error>
                <div [innerHTML]="errMsg"></div>
            </mat-error>
            <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button (click)="login()" color="primary" [disabled]="username=='' || password==''">
                Login
            </button>
        </mat-card-actions>
    </mat-card>
</div>
