<div class="container">
    <h2 class="text-center" class="edit-item">Edit Domain</h2>
    <form #editDomainForm="ngForm" (ngSubmit)="updateDomain(editDomainForm)" ngNativeValidate>
        <div class="form-group">
            <mat-form-field>
                <input matInput required [(ngModel)]="domain.domainName" name="name" id="name" #firstName="ngModel" placeholder="Name">
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field>
                <textarea matInput [(ngModel)]="domain.description" name="description" id="description" placeholder="Description">
                </textarea>
            </mat-form-field>
        </div>
        <div class="form-group" [formGroup]="userNameForm">
            <mat-form-field>
                <input matInput placeholder="Owner" formControlName="userNameGroup" [matAutocomplete]="autoGroup">
                <mat-autocomplete #autoGroup="matAutocomplete" [displayWith]="displayFn" (optionSelected)='setOwner($event.option.value)'>
                    <mat-optgroup *ngFor="let group of userNameGroupOptions | async" [label]="group.letter">
                        <mat-option *ngFor="let user of group.assignees" [value]="user">
                            {{user.firstName}} {{user.lastName}}
                        </mat-option>
                    </mat-optgroup>
                </mat-autocomplete>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-checkbox matInput [(ngModel)]="domain.defaultDomain" color="primary" name="defaultDomain" id="defaultDomain" [disabled]="defaultDomain">
                <span>Mark it to make default</span>
            </mat-checkbox>
        </div>
        <div class="text-center mb-4">
            <button mat-raised-button [disabled]="!editDomainForm.valid">
                <i class="fa fa-save"></i>
                Save
            </button>
        </div>
    </form>
</div>