<div class="container col-md-3">
    <h2 class="text-center">Find User</h2>
    <div class="input-group">
        <input class="form-control" type="search" placeholder="search id" id="id" [(ngModel)]="user.id">
        <span class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" [routerLink]="[user.id]">
                <i class="fa fa-search"></i>
            </button>
        </span>
    </div>
    <form (ngSubmit)="findUserByEmail()">
		<div class="form-group">
			<div class="input-group">
				<input type="text" placeholder="Search Error Code" name="email"
					class="form-control" id="email" required [(ngModel)]="user.email">
				<span class="input-group-append">
					<button type="submit" class="btn btn-outline-secondary">
						<i class="fa fa-search"></i>
					</button>
				</span>
			</div>
		</div>
	</form>
</div>

<router-outlet></router-outlet>

