
<router-outlet></router-outlet>

<!-- <div [hidden]="users.length == 0"> -->
  <div class="table-responsive">
    <h2 class="text-center">User Details</h2>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th class="d-none">Id</th>
          <th>FirstName</th>
          <th>LastName</th>
          <th>Email</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td class="d-none">{{user.id}}</td>
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.email}}</td>
          <td>
              <button class="btn btn-warning" [routerLink]="[user.id]">Edit User</button>
              <button class="btn btn-danger" (click)="deleteUser(user)">Delete User</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

<!-- </div>
  <div [hidden]="users.length == 0">
  <div class="alert alert-danger">
    <strong>{{noUserFound}}</strong>
  </div>
</div> -->
