
<router-outlet></router-outlet>

<div class="container col-lg-7">
  <div>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>
  <div class="mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="username">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Username </mat-header-cell>
        <mat-cell *matCellDef="let user">
            <a [routerLink]="['../findUser', user.userid]"> {{user.username}} </a>
        </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.firstName}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="lastName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.lastName}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.email}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="active">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Active </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.active}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
        <mat-cell *matCellDef="let user">
          <!-- <button class="btn" [routerLink]="[user.id]"><i class="fa fa-pencil fa-fw"></i></button> -->
          <div *ngIf="user.active==false; else inactive">
            <button class="btn" (click)="activateUser(user)">
                <i class="fa fa-check fa-fw" title="Activate User"></i>
            </button>
          </div>
          <ng-template #inactive>
              <button class="btn" (click)="deActivateUser(user)">
                <i class="fa fa-times fa-fw" title="De-activate User"></i>
              </button>
          </ng-template>
          <button class="btn" (click)="editUser(user)">
            <i class="fa fa-pencil fa-fw" title="Edit User"></i>
          </button>
          <button class="btn" (click)="deleteUser(user)">
            <i class="fa fa fa-trash-o fa-fw" title="Delete User"></i>
          </button>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
  </div>
</div>