<div class="container col-md-6 my-5">
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <tr *ngFor="let key of objectKeys(items)">
                <td>{{ key }}</td>
                <td>{{ items[key] }}</td>
            </tr>
        </table>
        <button class="btn" matTooltip="Upload File" fxLayoutAlign="end">
            <label for="file-input">
                <i class="fa fa-upload"></i>
            </label>
            <input id="file-input" type="file" (change)="selectFile($event)" hidden>
        </button>
    </div>
</div>
