<div class="container col-md-6 my-2">
    <div fxLayout="row" fxLayoutGap="10px">
        <div class="profile-picture-container">
            <img class="profile-picture">
            <div class="edit" *ngIf="user.userid == loggedUserId">
                <label for="file-input" class="file-input">
                    <i class="fa fa-pencil fa-lg"></i>
                </label>
                <input id="file-input" type="file" (change)="selectFile($event)"  accept=".jpg,.jpeg" hidden>
            </div>
        </div>
        <div fxLayout="column">
            <div>
                {{user.lastName}}, {{user.firstName}}
            </div>
            <div>
                {{user.email}}
            </div>
        </div>
    </div>
</div>